*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

nav{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding:15px 0px;
    font-size: 20px;
    background-color: rgb(34, 28, 28);
    border-bottom: 2px solid chartreuse;
}

li, a{
    list-style: none;
    display: inline-flex;   
    text-decoration: none;
    color: white;
}

.box-1 li{
    padding: 0px 20px;
}

.box-2 li{
    padding: 0px 20px;
}

.body-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    border-bottom: 2px solid rgb(153, 255, 0); 
    background-color: black;
    color: white;

    
}

.social-media-handle ul{
    display: inline-flex;
    flex-wrap: wrap;
    max-width: 80px;
    margin-top: 70px;
    
}

.social-media-handle li img{
    height: 50px;
    width: 50px;
    padding: 10px 10px;    
}

.content-body{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto ;
    padding-bottom: 40px;
}

.content-body h1{
    font-size: 55px;
    font-family: 'Bebas Neue', sans-serif;
 
}

#name{
    font-size: 55px;
}
.content-body p{
    font-size: 55px;
    font-family: 'Righteous', cursive;
}

.body-aboutme{
    padding-top: 50px;
    padding-left: 80px;
    padding-right: 20%; 
    padding-bottom: 40px;
    border-bottom: 2px solid rgb(153, 255, 0);
    background-color: black;
    color: white;
}

.body-aboutme h1{
    font-size: 35px;
    text-decoration: underline;
    margin-left: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.body-aboutme p{
    font-size: 25px;
    font-family: monospace;
    margin-left: 8%;
}


.project-blog{
    padding: auto;
    
    background-color: black;
}
.project-blog-holder{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding: 30px 0px;
    color: black;
}

.project-blog h1{
    font-size: 35px;
    text-decoration: underline;
    margin-left: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

.project-blog-holder h3{
    border: 3px solid rgb(153, 255, 0);
    border-radius: 20px;
    height: 130px;
    width: 130px;
    padding: 30px 18px;
    font-size: 20px;
    text-align: left;
    margin: 20px auto 30px auto;
    color: white;
}

.project-blog-holder h4{
    font-size: 14px;
    font-family: sans-serif;
    color: white;
}
.project-blog-holder p{
    font-size: 18px;
    font-family: sans-serif;
    color: white;
}

.project-blog-holder .project-2{
    padding: 20px;
    border: 2px solid rgb(153, 255, 0);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    margin: auto;
}
.project-blog-holder button {
    background-color: black;
    border-radius: 10px;
    padding: 10px 8px;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    color: white;
    border-color: rgb(153, 255, 0);
    
    
}
.project-blog-holder a{
    padding: auto;
    padding-top: 10px;
    margin: auto;
}
.project-blog-holder ul{
    
    margin: auto;
}







