*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: black;
    
}

html{
    width: 100%;
}

@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@100;700&display=swap');

nav{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding:1vw 1vw;
    background-color: black;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    
}

nav li,a{
     list-style: none;
     display: inline-block;
     text-decoration: none;
     color: white;
     padding: 0px 0.5rem;
     font-size: large;
     font-family: 'Azeret Mono', monospace;
     
 }

 .body-container{
     display: flex;
     flex-direction: row;
     flex-wrap: nowrap;
     margin-top: 0.5rem;
     background-color: black;
     padding: 0.8rem;
     margin-bottom: 0.5rem;
     border-top: white 2px solid;
     border-bottom: solid white 2px;
     
 }
 .social-media-handle a{
     padding: 0.5rem;
     margin: 0.3rem 0rem;
     padding-right: 2.5rem;
     border-right: 2px solid white;   
 }
 
 .social-media-handle img{
     height:1.8rem;
     width: 1.8rem;
     margin: 0.5rem;   
 }

 .intro-holder{
     margin: auto;
     padding-left: 1.9rem;
 }
.body-container .intro-holder h1{
     color: white;
     font-family: 'Azeret Mono', monospace;
     font-size: 4rem;
     
}
.aboutme-holder{
    display: block;
    margin: 3rem 0px;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
}
.aboutme-holder .heading h1{
     color: white;
     font-family: 'Azeret Mono', monospace;
     padding:0.3rem;
     padding-bottom: 2rem;
     padding-left: 2rem;
     margin: 0.2rem;
     text-decoration: underline;
     font-size: 2.2rem;

}
.content-holder{
    margin: 2rem;
    padding-left: 5%;
    padding-left: 1.9rem;
}
 h3{
    color: white;
    font-size: 2rem;
    line-height: 2.6rem;
    font-family: 'Azeret Mono', monospace;
}


.project-blog-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0.6rem;
    padding: 0.6rem;
    min-width: 100%;
    border-top: 2px white solid;
}


.pb-heading{
    padding: 0.6rem;
    margin: 0.1rem;
    max-width: 100%;
}
.pb-heading h1{
    color: white;
    padding: 0.6rem;
    font-family: 'Azeret Mono', monospace;
    text-decoration: underline;
}

.project-blog-holder{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.project-blog h1,p{
    color: white;
    padding: 0.6rem;
}
.project-blog-1{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 2.5rem 0.6px;
    margin:  3rem 0.6rem;
    border: white 2px solid;
    border-radius: 1.25rem;
}
.content-holder-head{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0.3rem;
    padding: 0.3rem;
    border-right: 2px solid white;
    min-width: 50%;
    padding-left: 0.6rem;
}
.content-holder-head .heading-no{
    border: 2px solid white;
    max-width: 3.75rem;
    
}

.heading-no h1{
    font-family: 'Azeret Mono', monospace;
    
}

.content-holder-para{
    margin: 0.3rem;
    padding: 0.3rem;
    padding-left: 5%;
    min-width: 30%;
    
}
.project-blog-1 h1,p{
    color: white;
    font-family: 'Azeret Mono', monospace;
    padding: 0.6rem;
}
.project-blog h1{
    padding-left: 0rem;
}
.project-blog-1 p{
    font-size: 20px;
}

.button-pb a{
    border: 2px solid white;
    
}
.button-pb ul{
    margin: 0.3rem;
    padding: 0.3rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.button-pb p{
    margin: 0.3rem;
    padding: 0.3rem;
}
.button-pb li{
    padding: 0.6rem;
}


.footer{
    border-top: 2px white solid;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.contact-me{
    padding: 10px;
    margin: 5px;
}
.contact-me h1,h2{
    color: white;
}
.contact-me h1{
    font-size: 20px;
    color: white;
    padding: 5px;
    margin: 5px;
    font-family: 'Azeret Mono', monospace;
}

.contact-me h2{
    font-size: 15px;
    color: white;
    padding: 5px;
    margin: 5px;
    font-family: 'Azeret Mono', monospace;
}
.social-media-handle-footer{
    padding: 10px;
    padding-right: 20%;
    margin: 5px;
}
.social-media-handle-footer h1{
    color: white;
    font-family: 'Azeret Mono', monospace;
    font-size: 20px;
    padding: 5px;
    margin: 5px;
}

.social-media-handle-footer ul{
    display: inline-flex;
    flex-wrap: nowrap;
}
.social-media-handle-footer img{
    height: 20px;
    width: 20px;
}