*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color:  #212428;

}



@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@100;700&display=swap');

nav{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding:10px 10px;
    background-color: black;
    border-bottom: #39ff14 2px solid;
}

nav li,a{
     list-style: none;
     display: inline-flex;
     text-decoration: none;
     color: white;
     padding: 0px 10px;
     font-size: large;
     font-family: 'Azeret Mono', monospace;
     padding-bottom: 5px;
     padding-top: 5px;

 }
.box-1 a,p{
    background-color: black;
}
.box-2 ul a,li, #nav-list{
    background-color: black;
 }
 .body-container{
     display: flex;
     flex-direction: row;
     flex-wrap: nowrap;
     margin-top: 15px;
     background-color: #212428;
     padding: 10px;
     margin-bottom: 15px;


 }
 .social-media-handle{
     display: flex;
     flex-direction: column;
    justify-content: space-around
 }
 .social-media-handle a{
     padding: 10px;
     padding-right: 40px;
     border-right: 2px solid #39ff14;




 }
 .social-media-handle img{
     height:25px;
     width: 25px;
     margin: 10px;


 }

 .body-container .intro-holder{
     margin: auto;
     padding-left: 2.4rem;
 }
.body-container .intro-holder h1{
     color: white;
     font-family: 'Azeret Mono', monospace;
     font-size: 3.5rem;

}
.aboutme-holder{
    display: flex;
    flex-direction: column;
    margin: 10px 0px;
    border-top: solid #39ff14 2px;
    border-bottom: 2px #39ff14 solid;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #212428;
}
.aboutme-holder .heading h1{
     color: white;
     font-family: 'Azeret Mono', monospace;
     padding:5px;
     padding-left: 5%;
     margin: 2px;
     text-decoration: underline;

}
.content-holder{
    margin: 10px;
    padding: 20px;
    padding-left: 15%;
}
.aboutme-holder .content-holder h3{
    color: white;
    font-size: 28px;
    line-height: 40px;
    font-family: 'Azeret Mono', monospace;
}

.project-blog-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 10px;
    padding: 10px;
}

.pb-heading{
    padding: 10px;
    margin: 5px;
    max-width: 100%;
}
.pb-heading h1{
    color: white;
    padding: 10px;
    font-family: 'Azeret Mono', monospace;
    text-decoration: underline;

}

.project-blog-holder{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.project-blog{
    padding: 15px 10px 15px 10px;
    margin: 10px;
    border: #39ff14 2px solid;
    border-radius: 20px;
}

.project-blog h1,p{
    color: white;
    padding: 10px;
    background-color: #212428;
}
.project-blog-1{
    display: flex;
    flex-direction: row;
    padding: 40px 10px;
    margin: 10px;
    border: white 2px solid;
    border-radius: 20px;
}
.content-holder-head{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 5px;
    padding: 5px;
    border-right: 2px solid white;
    min-width: 50%;
}
.content-holder-head .heading-no{
    border: 2px solid #39ff14;
    max-width: 60px;
}
.heading-no h1{
    font-family: 'Azeret Mono', monospace;
}
.content-holder-para{
    margin: 5px;
    padding: 5px;
    padding-left: 5%;
    min-width: 30%;

}
.project-blog-1 h1,p{
    color: white;
    font-family: 'Azeret Mono', monospace;
    padding: 10px;
}
.project-blog-1 p{
    font-size: 20px;
}

.button-pb a{
    border: 2px solid white;
    background-color: black;

}

.button-pb ul{
    margin: 5px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    background-color: #212428;
}
.button-pb p{
    margin: 5px;
    padding: 5px;
    background-color: black;
}
.button-pb li{
    padding: 10px;
    background-color: #212428;
    list-style: none;
}

.footer{
    border-top: 2px #39ff14 solid;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.contact-me{
    padding: 10px;
    margin: 5px;
}
.contact-me h1,h2{
    color: white;
}
.contact-me h1{
    font-size: 1rem;
    color: white;
    padding: 5px;
    margin: 5px;
    font-family: 'Azeret Mono', monospace;
}

.contact-me h2{
    font-size: 0.8rem;
    color: white;
    padding: 5px;
    margin: 5px;
    font-family: 'Azeret Mono', monospace;
}
.social-media-handle-footer{
    padding: 10px;
    padding-right: 20%;
    margin: 5px;
}
.social-media-handle-footer h1{
    color: white;
    font-family: 'Azeret Mono', monospace;
    font-size: 1rem;
    padding: 5px;
    margin: 5px;
}

.social-media-handle-footer ul{
    display: inline-flex;
    flex-wrap: nowrap;
}
.social-media-handle-footer img{
    height: 20px;
    width: 20px;
}